
@font-face {
    font-family: Swinepighu;
    src: url(SWINPH.ttf);
  }

body {
    background: url('WHNHNC.png') no-repeat;
	background-size: cover;
	background-attachment: scroll;
}
#title{
	height: 35rem;
	width: auto;
	top: 5vh;
	left: 30rem;
	position: absolute;


}